<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Bus</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../resources/logo.ico" type="image/x-icon">
</head>
<body class="f-1">
    <nav class="grid">
        <div class="left flex align-center">
            <img src="../resources/logo.svg" alt="">
            <h1>e-bus</h1>
        </div>
        <div class="right flex align-center">
            <div class="flex align-center">
                <img src="../resources/headphone.svg" alt="">
                <span>Help</span>
            </div>
            <div class="flex align-center">
                <img src="../resources/account.svg" alt="">
                <a href="/login">
                    <span>Account</span>
                </a>
            </div>
        </div>
    </nav>
    <div id="main" class="flex-col align-center">
        <h1>India's No. 1 Online Bus Ticket Booking Site</h1>
        <form action="/search" method="post" class="flex">
            <div>
                <img src="../resources/bus2.svg" alt="">
                <input type="text" id="from" name="from" placeholder="From">
            </div>
            <div>
                <img src="../resources/bus2.svg" alt="">
                <input type="text" id="to" name="to" placeholder="To">
            </div>
            <div>
                <img src="../resources/calander.svg" alt="" class="pointer">
                <input type="date" name="when" id="when" class="pointer">
            </div>
            <div class="pointer">
                <input type="submit" value="Search Buses" class="btn pointer">
            </div>
        </form>
    </div>
    <footer class="grid">
        <div class="top-left flex-col justify-center">
            <div class="logo flex align-center">
                <img src="../resources/logo.svg" alt="">
                <h1>e-bus</h1>
            </div>
            <p>E-Bus is the world's largest online bus ticket booking service trusted by over 25 million happy customers globally. redBus offers bus ticket booking through its website, iOS and Android mobile apps for all major routes</p>
        </div>
        <div class="top-right flex-col align-center justify-center">
            <h3>Top bus routes</h3>
            <ul class="flex-col">
                <li>Bhopal to Indore Bus</li>
                <li>Bhopal to Ujjain Bus</li>
                <li>Bhopal to Gwalior Bus</li>
            </ul>
        </div>
        <div class="bottom flex space-between">
            <p>&copy; 2023 E-Bus India Pvt. Ltd. All rights reserved</p>
            <div class="social flex">
                <img src="../resources/fb.svg" alt="">
                <img src="../resources/linkedin.svg" alt="">
                <img src="../resources/x.svg" alt="">
                <img src="../resources/ig.svg" alt="">
            </div>
        </div>
    </footer>
</body>
</html>